<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <link rel="shortcut icon" href="#">
    <script src="../scripts/components/header.js"></script>
    <script src="../scripts/components/footer.js"></script>
    <script src="../scripts/components/feed.js"></script>
   <!--
       <script src="../scripts/logout.js"></script>
--> 
    
    <title>TWISTER*FEED</title>
</head>
<body>
    <header>
        <div class="fondo-xd">
            <head-page></head-page>
        </div>
    </header>
    <section class="main-content">
        <feed-page></feed-page>
    </section>
    <footer>
        <foot-page></foot-page>
    </footer>
    <script src="../scripts/logout.js"></script>
</body>
</html>