<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <script src="../scripts/components/header.js"></script>
    <script src="../scripts/components/footer.js"></script>
    <title>TWISTER*FEED</title>
</head>
<body>
    <header>
        <head-page></head-page>
    </header>
    <section class="main">

    </section>
    <footer>
        <foot-page></foot-page>
    </footer>
</body>
</html>